/*PC端Css*/
.menubar {
    position: fixed;
    left: 0px;
    top: 250px;
    width: 100%;
    height: 50px;
    background: rgba(255,255,255,0.1);
    display: flex;
    border: 1px solid rgba(66,200,200,0.5);
}

.menubtn {
    position: static;
    background: rgba(66,200,200,0.1);
    min-width: 30px;
    height: 50px;
    line-height: 50px;
    font-size: 1.5rem;
    font-family: 'Microsoft YaHei UI';
    font-weight: bold;
    padding: 0px 20px 0px 20px;
    color: white;
    cursor: pointer;
}

    .menubtn:hover {
        background: rgba(255,255,255,0.1);
        font-size: 2rem;
        transition: all 0.5s;
    }

.menubtn_hover {
    position: static;
    background: rgba(255,255,255,0.1);
    min-width: 30px;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    font-family: 'Microsoft YaHei UI';
    font-weight: bold;
    padding: 0px 20px 0px 20px;
    color: white;
    cursor: pointer;
}

.bgmusic_img {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 150px;
    border-radius: 50px;
    cursor: pointer;
    border-left: 2px solid rgba(66,200,200,0.5);
}

.bgmusic_txt {
    height: 50px;
    width: 150px;
    position: fixed;
    right: 0px;
    color: #fff;
    line-height: 50px;
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Microsoft YaHei';
}

.titleimg {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 250px;
    width: 100%;
    background-image: url('../Images/titleimg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-size: 100%;
}

.bgcontent {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: url('../Images/bgcontent.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.content {
    position: fixed;
    top: 300px;
    left: 0px;
    width: 100%;
    height: 300px;
    background: rgba(0,0,0,0.3);
    overflow: hidden;
    justify-content: center;
}

.contentpage {
    position: absolute;
    width: 60%;
    transition: all 1s;
    color: white;
    font-size: 2rem;
    /*box-shadow: 0px 0px 100px 10px rgba(200,255,255,0.3) inset;*/
    /*background: linear-gradient(#000000 40%,#330000 50%,#000000 60%);*/
    display: flex;
    justify-content: center;
    vertical-align: central;
    overflow-x: hidden;
    overflow-y: auto;
}

.contactpage {
    width: 90%;
    height: 90%;
    /*background: rgba(255,255,255,0.1);*/
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.contacticon {
    height: 100px;
    width: auto;
    max-width: 15%;
    margin: 10% 5%;
    justify-content: center;
    text-align: center;
}

.contacticon_img {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.contacticon_txt {
    width: auto;
    height: auto;
    text-align: center;
    line-height: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid rgba(66,200,200,0.5);
    background: rgba(255,255,255,0.1);
    padding: 5px 20px 5px 20px;
    overflow-wrap: break-word;
    word-break: break-all;
}

.contacticon_msgbox {
    z-index: 999;
    position: relative;
    left: 0%;
    top: 5%;
    background: #fff;
    text-align: center;
    background-size: 100%;
    height: 0px;
    width: 0px;
}

.contacticon_img:hover ~ .contacticon_msgbox {
    height: 200px;
    width: 200px;
    transition: all 0.5s;
}

.firstpage {
    width: 100%;
    height: auto;
    background: linear-gradient(rgb(235,235,235),rgb(255,255,255));
    margin-top: 2%;
}

.fp_titleimg {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url(../Images/bgzp.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.fp_title {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 5rem;
    font-weight: bold;
    font-family: 'MS PMincho';
    color: black;
    z-index: 999;
    transition: all 1s;
}

.trigger {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: normal;
    font-family: 'Microsoft YaHei UI';
    transition: all 1s;
    color: #000;
    cursor: pointer;
    z-index: 999;
}

.fp_content {
    position: absolute;
    top: 100%;
    left: 0%;
    height: 0px;
    width: 100%;
    background: linear-gradient(rgba(235,235,235,1) 40%,rgba(235,235,235,0.3) 100%);
    transition: all 1s;
    font-size: 1.4rem;
    font-weight: normal;
    font-family: 'MS PMincho';
    color: black;
    overflow: hidden;
}

.paragraph {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.paragraph_txt {
    padding: 1%;
    font-size: 3rem;
    width: 70%;
    font-family: STXingkai;
    color: rgba(33,33,33,0.8);
}

.paragraph_img {
    width: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 90%;
    text-align: center;
    color: white;
    min-height: 100px;
    max-height: 300px;
    min-width: 100px;
    max-width: 300px;
}

.paragraph_title {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    font-size: 2.4rem;
    margin-top: 3%;
    margin-bottom: 3%;
}

.horizontalline {
    width: 100%;
    height: 0px;
    border: 0px solid #000;
    box-shadow: 0px 0px 10px 1px rgba(55,55,55,0.5);
}

.remarktxt {
    padding: 10px;
    font-size: 1.4rem;
    height: 100px;
    width: 80%;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 1px 1px 10px 3px rgb(235,235,235);
    border-radius: 10px;
    overflow: auto;
}

.remarkbtn {
    font-family: 'Microsoft YaHei UI';
    width: 10%;
    height: 100%;
    border-radius: 5px;
    border: none;
    float: right;
    font-size: 2rem;
    font-weight: normal;
    color: rgba(135,135,135,0.5);
    background: rgb(250,250,250);
    text-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}

    .remarkbtn:hover {
        box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5) inset;
        text-shadow: 1px 1px 1px 1px rgba(150,150,150,0.5);
        font-size: 2.5rem;
    }

.btnShowRemarks {
    width: auto;
    height: auto;
    text-align: center;
    line-height: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    border: 1px solid rgba(66,200,200,0.5);
    background: rgba(255,255,255,0.1);
    padding: 5px 20px 5px 20px;
    overflow-wrap: break-word;
    word-break: break-all;
    cursor: pointer;
}

.btnShowRemarks_icon {
    font-size: 1.4rem;
    font-family:Arial;
}

.remarks {
    position: relative;
    width: 100%;
    height: auto;
    display:block;
}

.remark {
    width: 100%;
    height: auto;
    position: relative;
    font-size:1.8rem;
    border:1px solid rgba(255,255,255,0.5);
    color:rgba(255,255,255,0.8);
}

.remark_remark {
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 0;
    font-size: 1.8rem;
    font-family: 'MS PMincho';
    padding:1%;
}
    .remark_remark:before {
        content:"评论：";
    }

.remark_date {
    position: relative;
    width: 90%;
    text-align:right;
    bottom: 0%;
    right: 0%;
    z-index: 1;
    font-size: 1.4rem;
    font-family: 'Microsoft YaHei UI';
    padding: 1%;
}

    .remark_date:before {
        content:"评论时间：";
    }
